@model IEnumerable<SifAdmin.Areas.Departamento.Models.DepartamentoModel>

@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Departamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo_Departamento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo_Departamento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo_Departamento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
